<%- include('../includes/head.ejs') %>

<body>
  <%- include('../includes/navigation.ejs') %>

  <div class="row mt-3 mx-1">
    <h1 class="text-center">Add New Product</h1>
    <div class="col-md-6 offset-md-3">
      <form action="/admin/addProduct" method="POST">
        <div class="mb-3">
          <label for="title" class="form-label"> Product name </label>
          <input type="text" class="form-control" id="title" name="title" />
        </div>
        <div class="mb-3">
          <label for="location" class="form-label"> ImageUrl </label>
          <input
            type="text"
            class="form-control"
            id="imageUrl"
            name="imageUrl"
          />
        </div>
        <div>
          <label for="price" class="form-label"> Price </label>
          <div class="input-group mb-3">
            <span class="input-group-text" id="price-lable">$</span>
            <input
              type="text"
              class="form-control"
              placeholder="0.00"
              aria-label="price"
              aria-describedby="price-lable"
              id="price"
              name="price"
            />
          </div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label"> Description </label>
          <textarea
            class="form-control"
            id="description"
            name="description"
            rows="5"
          ></textarea>
        </div>

        <div class="mb-3">
          <button class="btn btn-warning text-white">Add product</button>
        </div>
      </form>
    </div>
  </div>
  <%- include('../includes/footer.ejs') %>
</body>
